<form action="/" method="POST">
    <label for="">City
        <input type="text" name="title" id="">
    </label>

    <label for="">Start-Date
        <input type="date" name="start-date" id="">
    </label>

    <label for="">End-Date
        <input type="date" name="end-date" id="">
    </label>

    <button type="submit">SEARCH</button>
</form>
