<!DOCTYPE html>
<!--<html lang="argentino">-->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
aqui ando :P

<body>
    <h1>hay weyyyyyyyyyy</h1>
    <!-- este no va aqui que pasa bitches-->xfdghjk
    <!--quihubo-->
    {{{body}}}
</body>

</html>
