<section class="artist uk-section uk-padding-remove">
    <div class="uk-background-cover uk-panel uk-flex uk-flex-center uk-flex-middle"
        style="background-image: url(https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2018/03/03103805/big-concert-audience-listening-to-music-at-festival-picture-id485343244.jpg);">
        <div class="uk-overlay uk-overlay-default uk-position-center uk-width-1-2@m">
            <form class="uk-form-stacked uk-text-center" action="/artists" method="GET">

                <div class="uk-margin uk-margin-small-bottom">
                    <div class="uk-form-controls">
                        <input class="uk-input" name="artist" id="" type="text" placeholder="e.g. Muse">
                    </div>
                </div>

                <button class="uk-button uk-button-danger">Search</button>

            </form>
        </div>
    </div>
</section>
