$primary: #00b7ff;
$facebook: #3b5998;
$success: #32d296;

@import "./reset-view";

* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  &.facebook {
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  color: $primary;
}

.facebook {
  background-color: $facebook;
  color: white;
}

.view-container {
  height: calc(100vh - 80px);
}
