<section class="uk-section">
  <div class="uk-container">
    <div class="uk-flex uk-flex-center uk-flex-column">
      <h2 class="uk-heading uk-flex uk-flex-center">{{action}}</h2>
      <form action="" class="uk-text-center">
        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input name="email" class="uk-input" type="email" placeholder="example@example.com">
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input name="password" class="uk-input" type="password" placeholder="Enter your password">
          </div>
        </div>

        <button class="uk-button uk-button-primary">{{action}}</button>

      </form>
    </div>
  </div>
</section>
