<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css'
    type='text/css' />
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

      <ul class="uk-navbar-nav">
        <li><a href="/">Ironbnb</a></li>
        <li><a href="/properties">Properties</a></li>
      </ul>

    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        {{#unless user}}
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
        {{else}}
        <li><a href="/profile">{{user.email}}</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        {{/unless}}
      </ul>
    </div>
  </nav>

  {{{body}}}

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js" async defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>
