<section class="uk-section">
  <div class="uk-container">
    <div class="uk-flex uk-flex-center uk-flex-column">
      <h2 class="uk-heading uk-flex uk-flex-center">
        Create property
      </h2>
      <form action="/properties/new" class="uk-text-center" enctype="multipart/form-data" method="POST">

        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: home"></span>
            <input name="title" class="uk-input" type="text" placeholder="Enter property title"
              value="{{property.title}}">
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: cart"></span>
            <input name="pricePerNight" class="uk-input" type="text" placeholder="Enter price per night"
              value="{{property.pricePerNight}}">
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-inline">
            <textarea name="description" class="uk-textarea"
              placeholder="Enter description">{{property.description}}</textarea>
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-inline">
            <div uk-form-custom="target: true">
              <span class="uk-form-icon" uk-icon="icon: image"></span>
              <input name="images" type="file" multiple>
              <input class="uk-input uk-form-width-medium" type="text" placeholder="profile picture" disabled>
            </div>
          </div>
        </div>

        {{#if err.message}}
        <div class="uk-alert-danger uk-width-1-3 uk-margin-auto" uk-alert>
          <p>{{err.message}}</p>
        </div>
        {{/if}}

        <button class="uk-button uk-button-primary">
          Create property
        </button>

      </form>
    </div>
  </div>
</section>
