<form action="/new" method="POST">

    <div>
        <label for="">
            Title:
            <input type="text" name="title">
        </label>
    </div>

    <div>
        <label for="">
            Author:
            <input type="text" name="author">
        </label>
    </div>

    <div>
        <label for="">
            Rating:
            <input type="text" name="rating">
        </label>
    </div>

    <div>
        <label for="">
            Description:
            <textarea name="description" id="" cols="30" rows="10"></textarea>
        </label>
    </div>
    <button type="submit">Picale morro</button>
</form>
