<form action="/authors/add" method="post">
    <label for="">Name:</label>
    <input type="text" name="name">

    <label for="">Last Name:</label>
    <input type="text" name="lastname">

    <label for="">Nationality:</label>
    <input type="text" name="nationality">

    <label for="">Birthday:</label>
    <input type="date" name="birthday">

    <label for="">Picture Url</label>
    <input type="text" name="picture">

    <button type="submit">ADD</button>
</form>
