<h1>characters</h1>

<ul id="list"></ul>

<script>
  let list = document.getElementById("list");

  function drawItems(array) {
    array.forEach(item => {
      let li = document.createElement("li");
      let a = document.createElement("a");
      a.href = `/characters/${item._id}/edit`;
      a.innerText = item.name;
      li.appendChild(a);
      list.appendChild(li);
    });
  }

  window.onload = function() {
    let base_url = "http://localhost:3000";
    axios.get(`${base_url}/characters/info`).then(res => {
      let characters = res.data.characters;
      drawItems(characters);
    });
  };
</script>
