<form>
  <div>
    <label for="">
      Nombre:
      <input type="text" name="name" />
    </label>
  </div>
  <div>
    <label for="">
      Edad:
      <input type="text" name="age" />
    </label>
  </div>
  <div>
    <label for="">
      Cumple:
      <input type="date" name="birthday" />
    </label>
  </div>
  <div>
    <label for="">
      Género:
      <select name="gender">
        <option value="" selected disabled>Selecciona género</option>
        <option value="male">Hombre</option>
        <option value="female">Mujer</option>
      </select>
    </label>
  </div>
  <button type="submit">Crear morro</button>
</form>

<script>
  document.addEventListener("input", handleChange);
  document.addEventListener("submit", handleSubmit);

  let obj = {};
  let base_url = "http://localhost:3000";

  function handleChange(e) {
    let field = e.target.name;
    obj[field] = e.target.value;
  }

  function handleSubmit(e) {
    e.preventDefault();
    axios
      .post(`${base_url}/characters/new`, obj)
      .then(() => {
        window.location.replace("/characters/");
      })
      .catch(err => {
        console.log(err.response);
      });
  }
</script>
