<div class="card" style="width: 33.333%;">
    <img class="card-img-top" src="{{photo}}" alt="">
    <div class="card-body">
        <h5 class="card-title">{{name}} {{lastName}}</h5>
        <p class="card-text">{{team}}</p>
    </div>
</div>
