<form action="" method="POST">
  <div>
    <label for="">
      Marca:
      <input type="text">
    </label>
  </div>
  <div>
    <label for="">
      Año:
      <input type="text">
    </label>
  </div>
  <div>
    <label for="">
      Color:
      <select name="" id="">
        <option value="" selected disabled>Selecciona el color</option>
        <option value="white">Blanco</option>
        <option value="red">Rojo</option>
        <option value="blue">Azul</option>
        <option value="black">Negro</option>
      </select>
    </label>
  </div>
  <div>
    <label for="">
      Nuevo
      <input type="radio" name="new">
    </label>
    <label for="">
      Seminuevo
      <input type="radio" name="new">
    </label>
  </div>
  <div>
    <label for="">
      Año:
      <input type="text">
    </label>
  </div>
  <button type="submit">Crear Carro</button>
</form>
