<form action="/cars/new" method="POST" enctype="multipart/form-data">
  <div>
    <label for="">
      Marca:
      <input type="text" name="name">
    </label>
  </div>
  <div>
    <label for="">
      Año:
      <input type="text" name="year">
    </label>
  </div>
  <div>
    <label for="">
      Color:
      <select name="color" id="">
        <option value="" selected disabled>Selecciona el color</option>
        <option value="white">Blanco</option>
        <option value="red">Rojo</option>
        <option value="blue">Azul</option>
        <option value="black">Negro</option>
      </select>
    </label>
  </div>
  <div>
    <label for="">
      Nuevo
      <input type="checkbox" name="new">
    </label>
  </div>
  <div>
    <label for="">
      Imagen:
      <input type="file" name="images" multiple>
    </label>
  </div>
  <button type="submit">Crear Carro</button>
</form>
