<ul style="display:flex">
  {{#each cars as |car|}}
  <li style="margin-right:1%">
    <h2>{{car.name}}</h2>
    <p>{{car.year}}</p>
    <img src="{{car.image}}" alt="{{car.name}}" width="100" height="100">
  </li>
  {{/each}}
</ul>
