<div class="uk-section uk-flex uk-flex-center uk-flex-middle reset_view_container view-container">
  <div class="uk-container uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-width-1-2 uk-text-center">
      <div class="reset_view_icon">
        <span uk-icon='icon: check;ratio: 6'></span>
      </div>
      <div class="uk-alert-success" uk-alert>
        <p class="reset_view_info">
          We have sent an email so that you can retrieve your password, please check your inbox.
        </p>
      </div>
    </div>
  </div>
</div>
