<h1>eres admin perro</h1>

<ul>
  {{#each properties as |property|}}
  <li>
    {{property.name}} creada por {{property.owner.email}}
    <div>
      <a href="">editar</a>

    </div>
  </li>
  {{/each}}
</ul>
