<form action="/property/new" method="POST">
  <div>
    <label for="">
      Name:
      <input type="text" name="name">
    </label>
  </div>
  <div>
    <label for="">
      Cost:
      <input type="text" name="cost">
    </label>
  </div>
  <div>
    <label for="">
      Description:
      <textarea name="description" id="" cols="30" rows="10"></textarea>
    </label>
  </div>
  <button type="submit">crear propiedad</button>
</form>
