*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #F44336;
    height: 60px;
}

header nav{
    height: 100%;
}

header nav ul.menu-container {
    float: right;
    list-style: none;
    height: 100%;
    width: 24%
}

header nav ul.menu-container > li{
    float: left;
    padding: 11.3% 5%;
    color: black;
}

header nav ul.menu-container > li:hover{
    color: white;
    background-color: rgba(0, 0, 0, .6);
    transition: all .3s;
}